@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    @apply text-5xl leading-normal;
  }
  h2 {
    @apply text-4xl leading-snug;
  }
  h3 {
    @apply text-2xl font-semibold
  }
  p {
    @apply text-gray-500;
  }

  main > div, footer, .navbar {
    @apply max-w-7xl w-full px-4 m-auto relative
  }

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

.nav {
  width: inherit;
  max-width: inherit;
}
